<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AddProduct.css">
</head>
<body>
    <div class="content" style="top: 39.2px;"> 
    <h2 class="title">Create Produc</h2>
    
    <form action="/doInsert" method="post" class="updateForm">
    <div class="as">
        Name
        <br>
         <input type="text" name="txtName"class="as"/>
        <br>
        Price
        <br>
         <input type="text" name="txtPrice" class="as"/>
        <br>
        Color
        <br> 
        <input type="text" name="txtColor" class="as"/>
        </div>
        <br>
        <div class="btnLine">
        <input type="submit" value="Insert" class="btn" >
    </div>
    </form>
</div>
</body>
</html>